html {
  margin: 10px; }

body {
  font-family: Arial, sans-serif; }

button {
  background-color: #007BFF;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin: 8px 4px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.2s; }
  button:hover {
    background-color: #0056b3;
    transform: translateY(-2px); }
  button:active {
    transform: translateY(0); }

input,
select {
  border: 2px solid #007BFF;
  border-radius: 10px;
  padding: 5px;
  font-size: 15px;
  margin: 4px 2px;
  display: inline-block;
  box-sizing: border-box; }
  input:focus,
  select:focus {
    border-color: #0056b3;
    outline: none; }

.package {
  display: flex;
  position: relative; }

.block {
  width: 20px;
  height: 20px;
  background-color: black;
  border: 1px solid black;
  position: absolute; }

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  position: relative; }

.type-I {
  background-color: blue; }

.type-O {
  background-color: red; }

.type-T {
  background-color: green; }

.type-L {
  background-color: orange; }

.type-S {
  background-color: purple; }

.conveyor-belt {
  position: relative;
  margin-bottom: 5px;
  width: 100%;
  height: 60px;
  overflow: hidden;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }

.conveyor-belt-container {
  display: flex;
  flex-direction: column; }

.truck {
  position: relative;
  border: 1px solid #000;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 10px; }
  .truck[data-truck-type="koud-transport"] {
    border-color: #007bff;
    border-width: 3px; }
  .truck[data-truck-type="breekbaar-transport"] {
    border-color: red;
    border-width: 3px; }
  .truck[data-truck-type="algemeen-transport"] {
    border-color: green;
    border-width: 3px; }
  .truck[data-truck-type="pallets"] {
    border-color: orange;
    border-width: 5px; }
  .truck[data-truck-type="snelkoerier"] {
    border-color: purple;
    border-width: 3px; }
  .truck .block {
    border-color: yellow; }

.truck-form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }
  .truck-form-container label {
    display: block;
    margin-bottom: 10px; }
  .truck-form-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; }

.remove-truck-button {
  padding: 5px 10px;
  background-color: #ff3232;
  color: white;
  border: none;
  border-radius: 10px; }
  .remove-truck-button:hover {
    background-color: #ff0f0f; }

.drive-out {
  animation: drive-out 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

@keyframes drive-out {
  0% {
    transform: translateX(0);
    opacity: 1; }
  100% {
    transform: translateX(1000px);
    opacity: 0; } }
